
div {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
}
//nb-card-header {
//  padding: 0 20px 0 20px;
//  background: rgba(23, 21, 28, 0.5);
//}
.dots-span {
  margin: 5px;
}
.header-container {

}
chose-date-card {

}
.chose-date-card {
  width: 500px;
  background: #2c3545 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.day-chosen-btn {
  padding: 10px !important;
}
.transparent-button {
  color: rgba(255, 255, 255, 0.5) !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 2px !important;
  background: transparent !important;
}
nb-card.main-card {
  background-color: #191c26;
  height: 100vh;
}
button.time-btn {
  background: #272a38 !important;
  border-radius: 2.3048px !important;
  color: #2179db !important;
  border: none !important;
  width: 40px;
  height: 40px;
  font-size: 23.05px;
  font-weight: 400;
}
.grey-header-title {
  font-weight: 500;
  font-size: 12px;
  color: #767676;
}
.white-header-title {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.time-text {
  text-align: center;
  color: #2179db;
  font-size: 12px;
  font-weight: 400;
}
button.report-header-btn {
  background: #242632 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  color: white !important;
  border-radius: 0;
  border: none !important;
}
.chose-time-card {
  width: 200px;
}
.small-pdf-page {

}
.page-col-class {
  //padding: 10px;
  text-align: center;
  cursor: pointer;
}
span.page-number {
  font-weight: bold;
}
.pdf-small-pages {
  position: fixed;
  top: 28%;
  right: 4%;
}
