:host {
  padding: 30px 50px 50px 56px;
}

.table-image {
  width: 100%;
  max-width: 65px;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
}

a.image-link {
  cursor: pointer;
}

table {
  width: 100%;
  //background-color: #222b45;
  background: #222b45;

  & td {
    color: #ffffff;
  }

  td.row-success {
    color: #217ad8;
  }

  td.row-waiting {
    color: #dba721;
  }

  & th {
    color: #9A9B9C;
  }

}

a.watch-list {
  color: #217ad8;
  text-decoration: underline;
  cursor: pointer;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb,
.mat-toggler.mat-checked .mat-slide-toggle-thumb {
  background-color: #2179db;
}
