.addition-info-header {
  background-color: #000;
}

[nbInput] {
  color: black !important;
}
.cancel-btn {
  background: #D0D0D0 !important;
  color: black !important;
  border: none !important;
  font-weight: normal !important;
  font-size: 16px !important;
  border-radius: 0 !important;
}
.material-name {
  margin-right: 30px;
}

nb-card-header {
  color: #ffffff;
}

.selected-row {
  background-color: #e8f2fe;
}

table {
  width: 100%;
}
